<%- include('./header', {}) %>

<title><%= __('index.head.title') %></title>
<script>
$(function(){
<% if ( user.role == 0 ){ %>
  getUsers();
<% } %>
  getItems();
});

function logout(){
  $.ajax({
    type: 'POST',
    url: '/logout',
    data: {},
    success: function( data ){
      window.location.href = '/';
    },
    error: function(){
      window.location.href = '/';
    }
  });
}

function getUsers(){
  $.ajax({
    type: 'GET',
    url: '/users',
    success: function( users ){
      //users = JSON.parse( users );
      //console.log( users );
      users.forEach( user => {
        var tr = "<tr><td>" + user.id + "</td><td>********</td><td>" + user.name + "</td><td>" + abbreviateArray( user.email ) + "</td><td>" + user.role + "</td><td>" + user.created + "</td>";
        tr += "<td><input type='button' class='btn btn-default' value='<%= __('users.buttonlabel.delete') %>' onClick='deleteUser(\"" + user.id + "\")'/></td>";
        tr += "</tr>";
        $('#users_table_tbody').append( tr );
      });
      var tr = "<tr>"
        + "<td><input type='text' id='user_id' placeholder='<%= __('users.placeholder.id') %>'/></td>"
        + "<td><input type='password' id='user_password' placeholder='<%= __('users.placeholder.password') %>'/></td>"
        + "<td><input type='text' id='user_name' placeholder='<%= __('users.placeholder.name') %>'/></td>"
        + "<td><input type='text' id='user_email' placeholder='<%= __('users.placeholder.email') %>'/></td>"
        + "<td><input type='text' id='user_role' placeholder='<%= __('users.placeholder.role') %>'/></td>"
        + "<td><!-- <input type='text' id='user_created' placeholder='<%= __('users.placeholder.created') %>'/> --> - </td>"
        + "<td><input type='button' class='btn btn-default' value='<%= __('users.buttonlabel.add') %>' onClick='addUser();'/></td>"
        + "</tr>"
      $('#users_table_tbody').append( tr );
    },
    error: function( err ){
      console.log( err );
    }
  });
}

function addUser(){
  var id = $('#user_id').val();
  var password = $('#user_password').val();
  var name = $('#user_name').val();
  var email = $('#user_email').val();
  var role = $('#user_role').val();

  $.ajax({
    type: 'POST',
    url: '/user',
    data: { id: id, password: password, name: name, email: email, role: role },
    success: function( data ){
      window.location.href = '/';
    },
    error: function(){
      window.location.href = '/';
    }
  });
}

function deleteUser(id){
  console.log( 'deleteUser(): id=' + id );

  if( window.confirm( '<%= __('users.confirm.delete') %>' + id + ' ?' ) ){
    $.ajax({
      type: 'DELETE',
      url: '/user',
      data: { id: id },
      success: function( data ){
        window.location.href = '/';
      },
      error: function(){
        window.location.href = '/';
      }
    });
  }
}


function getItems(){
  $.ajax({
    type: 'GET',
    url: '/items',
    success: function( items ){
      console.log( items );
      items.forEach( item => {
        var owner_id = '';
        var n = item.owner.indexOf( '#' );
        if( n > -1 ){
          owner_id = item.owner.substring( n + 1, item.owner.length - 1 );
        }
        var tr = "<tr><td>" + item.id + "</td><td>" + item.name + "</td><td>" + item.body + "</td><td>" + item.amount + "</td><td>" + owner_id + "</td><td>" + item.modified + "</td>";
<% if ( user.role == 0 ){ %>
        tr += "<td><input type='button' class='btn btn-default' value='Edit' onClick='editItem(" + JSON.stringify(item) + ")'/><input type='button' class='btn btn-default' value='<%= __('items.buttonlabel.delete') %>' onClick='deleteItem(\"" + item.id + "\")'/></td>";
<% }else{ %>
        tr += "<td> -&gt; <input type='text' id='new_owner_id_for_" + item.id + "' value='' placeholder='new owner id'/><input type='button' class='btn btn-default' value='<%= __('items.buttonlabel.trade') %>Trade' onClick='tradeItem(" + JSON.stringify(item) + ")'/></td>";
<% } %>
        tr += "</tr>";
        $('#items_table_tbody').append( tr );
      });

      var tr = "<tr>"
      + "<td><input type='text' id='item_id' placeholder='<%= __('items.placeholder.id') %>'/></td>"
      + "<td><input type='text' id='item_name' placeholder='<%= __('items.placeholder.name') %>'/></td>"
      + "<td><input type='text' id='item_body' placeholder='<%= __('items.placeholder.body') %>'/></td>"
      + "<td><input type='text' id='item_amount' placeholder='<%= __('items.placeholder.amount') %>'/></td>"
      + "<td><!-- <input type='text' id='item_owner_id' placeholder='<%= __('items.placeholder.owner_id') %>'/> --> - </td>"
      + "<td><!-- <input type='text' id='item_modified' placeholder='<%= __('items.placeholder.modified') %>'/> --> - </td>"
      + "<td><input type='button' class='btn btn-default' value='<%= __('items.buttonlabel.add') %>' onClick='addItem();'/></td>"
      + "</tr>"
      $('#items_table_tbody').append( tr );
    },
    error: function( err ){
      console.log( err );
    }
  });
}

function addItem(){
  var id = $('#item_id').val();
  var name = $('#item_name').val();
  var body = $('#item_body').val();
  var amount = $('#item_amount').val();
  var owner_id = $('#item_owner_id').val();

  $.ajax({
    type: 'POST',
    url: '/item',
    data: { id: id, name: name, body: body, amount: amount, owner_id: owner_id },
    success: function( data ){
      window.location.href = '/';
    },
    error: function(){
      window.location.href = '/';
    }
  });
}

function deleteItem(id){
  console.log( 'deleteItem(): id=' + id );

  if( window.confirm( '<%= __('items.confirm.delete') %>' + id + ' ?' ) ){
    $.ajax({
      type: 'DELETE',
      url: '/item',
      data: { id: id },
      success: function( data ){
        window.location.href = '/';
      },
      error: function(){
        window.location.href = '/';
      }
    });
  }
}

function editItem( item ){
  $('#item_id').val( item.id );
  $('#item_name').val( item.name );
  $('#item_body').val( item.body );
  $('#item_amount').val( item.amount );
}

function tradeItem( item ){
  if( window.confirm( '<%= __('items.confirm.trade') %>' + item.id + ' ?' ) ){
    var new_owner_id = $('#new_owner_id_for_'+item.id).val();
    $.ajax({
      type: 'POST',
      url: '/trade',
      data: { item_id: item.id, user_id: new_owner_id },
      success: function( data ){
        window.location.href = '/';
      },
      error: function(){
        window.location.href = '/';
      }
    });
  }
}
</script>
<style>
html, body, {
  background-color: #ddddff;
  height: 100%;
  margin: 0px;
  padding: 0px
}
</style>
</head>
<body>

<%- include('./nav', {}) %>

<div class="container-fluid" style="padding:20px 0; font-size:8px;">
  <table class="table table-hover table-bordered" id="items_table">
    <thead class="table-inverse">
      <tr>
        <tr><th bgcolor="#ddddff" colspan="7"><%= __('items.table.title') %></th></tr>
        <th><%= __('items.table.id') %></th>
        <th><%= __('items.table.name') %></th>
        <th><%= __('items.table.body') %></th>
        <th><%= __('items.table.amount') %></th>
        <th><%= __('items.table.owner') %></th>
        <th><%= __('items.table.modified') %></th>
        <th><%= __('items.table.action') %></th>
      </tr>
    </thead>
    <tbody id="items_table_tbody">
    </tbody>
  </table>
</div>

<% if( user.role == 0 ){ %>
<hr/>

<div class="container-fluid" style="padding:20px 0; font-size:8px;">
  <table class="table table-hover table-bordered" id="users_table">
    <thead class="table-inverse">
      <tr>
        <tr><th bgcolor="#ddddff" colspan="7"><%= __('users.table.title') %></th></tr>
        <th><%= __('users.table.id') %></th>
        <th><%= __('users.table.password') %></th>
        <th><%= __('users.table.name') %></th>
        <th><%= __('users.table.email') %></th>
        <th><%= __('users.table.role') %></th>
        <th><%= __('users.table.created') %></th>
        <th><%= __('users.table.action') %></th>
      </tr>
    </thead>
    <tbody id="users_table_tbody">
    </tbody>
  </table>
</div>

<% } %>

<%- include('./footer', {}) %>
